/* body {
    background-image: url("picture/wall.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
} */
 .cetegorie { 
    border-radius: 20px 40px;
     border-width: 21px;
    
;
    border-style: solid;
    border-color:green;
    text-align: center;
    font-size: 20px;
    margin: 60px;
    background-color:blue;
     padding:2px 20px 2px 20px;

}
a {
    color:white;

}
a:hover{
       color:red;
}
p {
    text-align: center;
    color:white;
    font-size: 21px;
}

